PORT=5000
MONGO_URI=mongodb://<username>:<password>@<host1>:<port>,<host2>:<port>,<host3>:<port>/<database>?ssl=true&replicaSet=<replicaSet>&authSource=admin&appName=<appName>
JWT_SECRET=your_jwt_secret_here
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
